* {
    box-sizing: border-box;
}
body {
    background-image: url("images/background.jpg");
}

#hi {
margin-bottom: 300px;
}

#go {
    margin-bottom: 100px;
}
.navbar-brand {
    background-color: #4aaaa5;
    padding: 20px;
}

#portfolio1 {
    border-left: 1px solid #cccccc;
    border-right: 1px solid #cccccc;
}

#headshot {
    height: 200px;
    width: 200px;
    float: left;
    border-radius: 5px;
    margin-right: 10px;
    
}
h3 {
    color:#4aaaa5;
    padding: 10px;
    margin: 10px;
    font-family: 'Georgia', Times, "Times New Roman", serif;
}

footer {
color:white;
background-color:#666666;
width: 100%;
padding-top:20px;
text-align: center;
border-top: 8px solid #4aaaa5;

}

#submit {
    margin-bottom: 20px;
    margin-top: 15px;
    background-color: #4aaaa5;
    color: #ffffff;
    border: solid #4aaaa5 1px;
    padding: 10px 15px 10px 15px;
    border-radius: 5px;
}

form, .paragraph {
    color: #ffffff;
}


#name, #email, #message {
    color: black;
    width: 100%;
}
.figure-caption{
    background-color: #4aaaa5;
    font-weight: bold;
    text-align: center;
    padding: 10px;
    color: #ffffff;
    border-radius: 5px;
 }
.figure {
    width: auto;
}

.navbar .navbar-expand-lg .navbar-light .bg-light {
    margin-left: 20px;
}

